{% extends 'layout.html.twig' %}
{% block body %}
    <div class="col-xs-12 row">
        <div class="col-xs-12">
            <h3>1 - Dados utilizados</h3>
        </div>
        {% for bank in bankAccounts %}
            <div class="col-xs-12 col-md-6 col-lg-4">
                {{ dump(bank) }}
            </div>
        {% endfor %}
    </div>
{% endblock body %}