{% extends 'layout.html.twig' %}
{% block body %}
    <div class="col-xs-12">
        <h1>Bem vindo ao teste Pagarme</h1>
        <p>Autor: Bruno Koga</p>
        <p>Para mais informações sobre o projeto acesse README.md na raiz do projeto.</p>
    </div>
{% endblock body %}